<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Receiver Name</label>
      <input class="form-control" (input)="onNameChange($event)" />
    </div>

    <div class="col">
      <label><b>Receiver Name</b></label>
      <div>

        <!-- 
          Use pipe functions to format data with interpolation syntax
            - Use of pipe function "titlecase" to capitalize the name of the payee here
            - https://angular.io/api/common/TitleCasePipe
        -->

        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input type="date" class="form-control" (input)="onDateChange($event)" />
    </div>

    <div class="col">
      <label><b>Payment Date</b></label>
      <div>

        <!-- 
          Use pipe functions to format data
            - Use of pipe function "detapipe" to format the date
            - In this way we pass arguments to a pipe function: date: "d" to format the date in "d" format for example "1" for Day etc check https://angular.io/api/common/DatePipe#custom-format-options
            - date: "MMMM d y" => e.g. December 15, 1950
            - https://angular.io/api/common/DatePipe
        -->

        {{ date | date: "MMMM d y"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Amount</label>
      <input class="form-control" (input)="onAmountChange($event)" />
    </div>

    <div class="col">
      <label><b>Amount</b></label>
      <div>

        <!--
          Use pipe functions to format data
            - Use of pipe function "currency" to format the currency
            - In this way we pass arguments to a pipe function: currency: "USD" to format the currency with dollar sign etc -> https://angular.io/api/common/CurrencyPipe
            - currency: "USD" => e.g. December 15, 1950 ("USD" call argument not necessary if you want dollar currency, by default it's set un USD)
            - https://angular.io/api/common/CurrencyPipe
        -->

        {{ amount | currency: "USD" }}
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input class="form-control" (input)="onHeightChange($event)" />
    </div>

    <div class="col">
      <label><b>Height</b></label>
      <div> -->

  <!--
            Use pipe functions to format data
              - Use of pipe function "number" to format a number e.g. the height
              - In this way we pass arguments to a pipe function: number: "1.0-0" to format the number -> https://angular.io/api/common/DecimalPipe
              - number: "1.0-0" => e.g. 15,3 -> 15
              - https://angular.io/api/common/DecimalPipe
          -->

  <!-- {{ height | number }}
      </div>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input class="form-control" (input)="onMilesChange($event)" />
    </div>

    <div class="col">
      <label><b>Kilometers</b></label> -->
  <!-- convert and show conversion only if miles > 10 -->
  <!-- <div *ngIf="miles > 10"> -->
  <!-- if we want to add condition to show conversion only if miles converted into kilometers > 10 ( we need to wrap it in "()")-->
  <!-- <div *ngIf="(miles | convert: 'km') > 10"> -->

  <!--
            Use pipe functions to format data
              - Use of pipe function "currency" to format the currency
              - In this way we pass arguments to a pipe function: currency: "USD" to format the currency with dollar sign etc -> https://angular.io/api/common/CurrencyPipe
              - currency: "USD" => e.g. December 15, 1950 ("USD" call argument not necessary if you want dollar currency, by default it's set un USD)
              - https://angular.io/api/common/CurrencyPipe
        -->

  <!--
            Use own custom pipe function arguments
              - Sepparate multiple pipe function call arguments using ':' => {{ miles | convert: 'm':'4593847' }}
              - In our case, we need only one argument 'm' - meters to convert miles in kilometers / meters
              - In convert.pipe.ts we defined also "km" and "cm" arguments
        -->
  <!-- {{ miles | convert: "km" }} -->

  <!-- use multiple pipes (chain them together) - in this example use custom pipe with DecimalPipe -->
  <!-- {{ miles | convert: "cm" | number: '1.0-2' }} -->
  <!-- </div>
    </div>
  </div> -->

</div>

<!-- JsonPipe - used for debugging -->
<!-- https://angular.io/api/common/JsonPipe -->
<!-- {{ car | json }} -->